<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Tatabouf ?</title>
    @Styles.Render("~/Content/css")
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="cache">&nbsp;</div>
    <div class="main">
        <div class="inner">
            <header>
                <h1>Tatabouf ?</h1>
            </header>
            <section>
                @RenderBody()                
            </section>
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.main -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>