<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
<!--
.___________.    ___   .___________.    ___      .______     ______    __    __   _______ 
|           |   /   \  |           |   /   \     |   _  \   /  __  \  |  |  |  | |   ____|
`---|  |----`  /  ^  \ `---|  |----`  /  ^  \    |  |_)  | |  |  |  | |  |  |  | |  |__   
    |  |      /  /_\  \    |  |      /  /_\  \   |   _  <  |  |  |  | |  |  |  | |   __|  
    |  |     /  _____  \   |  |     /  _____  \  |  |_)  | |  `--'  | |  `--'  | |  |     
    |__|    /__/     \__\  |__|    /__/     \__\ |______/   \______/   \______/  |__|     

Sources: https://github.com/lionelrepellin/Tatabouf                                   
-->
    <title>Tatabouf ?</title>
    @Styles.Render("~/Content/css")
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="cache">&nbsp;</div>
    <div class="main">
        <div class="inner">
            <header>
                <h1>Tatabouf ?</h1>
            </header>
            <section>
                @RenderBody()                
            </section>
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.main -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>