@model Tatabouf.Domain.Crew

@using(Html.BeginForm("Add", "Home", FormMethod.Post))
{
    <table class="formulaire">
        <tr>
            <td class="label say-my-name">
                @Html.TextBoxFor(t => t.Name, new { placeholder = "Votre prénom" })
                @Html.ValidationMessageFor(t => t.Name)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.MarieBlachere)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Carrefour)
            </td>                
            <td class="choice">
                @Html.CheckBoxFor(t => t.Kebab)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Quick)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Other)
            </td>
            <td class="choice number-of-seats">
                @Html.TextBoxFor(t => t.NumberOfSeatsAvailable)
            </td>
            <td class="actions">
                <img src="~/Content/save.png" alt="Enregistrer" class="icon" />
                <input type="submit" value="Enregistrer" />
            </td>
        </tr>            
    </table>     
    
    @Html.ValidationSummary(true)
}
