@model Tatabouf.Models.ContainerModel

@functions{
    string GetClass(bool checkBox)
    {
        if (checkBox)
        {
            return "want-to-go";
        }
        else
        {
            return "dont-want-to-go";
        }
    }

    string GetSymbol(bool checkBox)
    {
        if (checkBox)
        {
            return "=)";
        }
        else
        {
            return "=(";
        }
    }
}

<style>
    .edit {
        cursor: pointer;
    }
</style>

<table class="tatabouf">
    <thead>
        <tr>
            <td class="empty">&nbsp;</td>
            <td class="name">Marie <br />Blachère</td>
            <td class="name">Carrefour</td>
            <td class="name">Kébab</td>
            <td class="name">Quick</td>
            <td class="name">Autres</td>
            <td class="name">Places <br />voiture</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Dates.Any())
        {
            foreach (var date in Model.Dates)
            {
                <tr>
                    <td class="label">@date.Name</td>
                    <td class="@GetClass(date.MarieBlachere)">@GetSymbol(date.MarieBlachere)</td>
                    <td class="@GetClass(date.Carrefour)">@GetSymbol(date.Carrefour)</td>
                    <td class="@GetClass(date.Kebab)">@GetSymbol(date.Kebab)</td>
                    <td class="@GetClass(date.Quick)">@GetSymbol(date.Quick)</td>
                    <td class="@GetClass(date.Other)">@GetSymbol(date.Other)</td>
                    <td class="number-of-seats"><span>@date.NumberOfSeatsAvailable</span></td>
                    <td class="actions"><img src="~/Content/edit.png" alt="Éditer" class="icon" /><span class="edit" data-id="@date.Id">Éditer</span></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" class="inscris-toi">
                    Inscris-toi !
                </td>
            </tr>
        }
    </tbody>
</table>