@model Tatabouf.Models.ContainerModel

@functions{
    string GetClass(bool checkBox)
    {
        if (checkBox)
        {
            return "want-to-go";
        }
        else
        {
            return "dont-want-to-go";
        }
    }
    
    string GetClassIGotIt(bool checkBox)
    {
        if (checkBox)
        {
            return "i-got-it";
        }
        else
        {
            return "dont-want-to-go";
        }
    }

    string GetSymbol(bool checkBox)
    {
        if (checkBox)
        {
            return "=)";
        }
        else
        {
            return "=(";
        }
    }
}

<table class="tatabouf">
    <thead>
        <tr>
            <td class="empty">&nbsp;</td>
            <td class="name">J'ai ma<br />bouffe</td>            
            <td class="name">Carrefour</td>
            <td class="name">Quick</td>
            <td class="name">Marie <br />Blachère</td>
            <td class="name">Kébab</td>            
            <td class="name">Autres</td>
            <td class="name">Places <br />voiture</td>
            <td width="120">&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Dates.Any())
        {
            foreach (var date in Model.Dates)
            {
                <tr>
                    <td class="label">@date.Name</td>
                    <td class="@GetClassIGotIt(date.IGotIt)">@GetSymbol(date.IGotIt)</td>
                    <td class="@GetClass(date.Carrefour)">@GetSymbol(date.Carrefour)</td>
                    <td class="@GetClass(date.Quick)">@GetSymbol(date.Quick)</td>
                    <td class="@GetClass(date.MarieBlachere)">@GetSymbol(date.MarieBlachere)</td>
                    <td class="@GetClass(date.Kebab)">@GetSymbol(date.Kebab)</td>                    
                    <td class="@GetClass(date.Other)">@GetSymbol(date.Other)</td>
                    <td class="number-of-seats"><span>@date.NumberOfSeatsAvailable</span></td>
                    <td class="actions">
                        @if (date.IpAddress == Model.IpVisitor)
                        {
                            <img src="~/Content/edit.png" alt="Éditer" class="icon edit" data-id="@date.Id" />
                            <img src="~/Content/delete.png" alt="Supprimer" class="icon remove" data-id="@date.Id" />
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" class="inscris-toi">
                    Inscris-toi !
                </td>
            </tr>
        }
    </tbody>
</table>