@model Tatabouf.Models.ContainerModel

@using (Html.BeginForm(Model.Crew.ActionName.ToString(), "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="formulaire">
        <tr>
            <td class="label say-my-name">
                @if (Model.Crew.ActionName == Tatabouf.Models.Action.Add)
                {
                    @Html.EditorFor(t => t.Crew.Name, new { placeholder = "Votre prénom", maxlength = 20 })
                }
                else
                {
                    @Model.Crew.Name
                    @Html.HiddenFor(t => t.Crew.Name)
                }
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Crew.IGotIt)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Crew.Carrefour)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Crew.Quick)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Crew.MarieBlachere)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Crew.Kebab)
            </td>
            <td class="choice">
                @Html.CheckBoxFor(t => t.Crew.Other)
            </td>
            <td class="choice number-of-seats">
                @Html.TextBoxFor(t => t.Crew.NumberOfSeatsAvailable, new { maxlength = 2 })
            </td>
            <td class="actions">
                <img src="~/Content/save.png" alt="Enregistrer" class="icon save" />
            </td>
            @Html.HiddenFor(t => t.Crew.Id)
        </tr>
    </table>
    @Html.ValidationSummary()
}